@{
    ViewData["Title"] = "Контакты";
}

<div class="container-row">
    <div class="row-item">
        <h2>Наш Email</h2>
        <p>andrejmustaca6@gmail.com</p>
    </div>
        
    <div class="row-item">
        <h2>Наш телефон</h2>
        <p>+ (373) 778-49-627</p>
    </div>
        
    <div class="row-item">
        <h2>Наш адрес</h2>
        <p>г. Тирасполь, п. Магистральный,12</p>
    </div>

    <div class="contact-info-text">
        <p>Наш магазин всегда рад приветствовать вас и ждать от вас звонков и писем на электронную почту!</p>
    </div>
</div>



<div class="container-section1">          
    <h2 class="info-sections"></h2>
    <div class="map">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9cd0ea5b06688cff5cfc3a5c713edffb10efbdd42681ae4890423521b9d3f498&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
</div>