@{
    ViewData["Title"] = "Изделия на заказ";
}

<script src="~/js/CustomProductScript.js"></script>

<div class="container-section">
    <h2 class="info-sections">Изделия на заказ от наших ювелиров</h2>
    <div class="card-container">
        <div class="arrow left">&#10094</div>
        
        <div class="card-wrapper">
            <div class="card">
                <img src="~/Images/product.jpg" alt="card 1"/>
                <h3>Серьги</h3>
                <p>Серьги — это украшения для ушей, которые подчеркивают стиль и красоту своей владелицы. Серьги могут быть как простыми и сдержанными, так и яркими, эксклюзивными и сложными по дизайну. Они бывают разных форм, размеров и стилей, и могут использоваться для повседневного ношения или в качестве ярких акцентов на торжественных событиях.</p>
            </div>
            
            <div class="card">
                <img src="~/Images/product2.jpg" alt card 2/>
                <h3>Кольца</h3>
                <p>Кольцо — это ювелирное украшение в виде кольцевой формы, которое обычно носится на пальце. Кольца могут иметь различные стили и предназначение: от символичных (например, обручальные кольца) до декоративных и статусных (с драгоценными камнями, сложным дизайном или художественной гравировкой).</p>
            </div>
            
            <div class="card">
                <img src="~/Images/product3.jpg" alt="card 3"/>
                <h3>Обручальные кольца</h3>
                <p>Обручальные кольца — это символ любви, верности и единства, который пары носят как выражение своего союза. Они являются не только украшением, но и важным атрибутом свадебной церемонии, символизируя обязательства и обещания, данные друг другу. Эти кольца, как правило, носят ежедневно, напоминая о важности отношений и любви.</p>
            </div>
            
            <div class="card">
                <img src="~/Images/product4.jpg" alt="card 4"/>
                <h3>Ожерелья</h3>
                <p>Ожерелье — украшение для шеи, которое может быть как сдержанным, так и ярким акцентом в образе. Оно может подчеркнуть стиль, добавить элегантности или выразительности. Ожерелья бывают разных форм, размеров и стилей, и могут быть выполнены из самых разнообразных материалов, от простого металла до драгоценных камней и жемчуга. Это украшение, которое давно стало символом женственности и утонченности.</p>
            </div>
            
            <div class="card">
                <img src="~/Images/product5.jpg" alt="card 5"/>
                <h3>Браслеты</h3>
                <p>Браслет — это украшение, которое носится на запястье или выше по руке, и является одним из самых универсальных аксессуаров в мире ювелирных изделий. Браслеты могут быть как сдержанными и элегантными, так и яркими и выразительными, подходя для различных случаев, будь то повседневная носка или особое событие. Это украшение помогает подчеркнуть стиль и добавить индивидуальности.</p>
            </div>
            
            <div class="card">
                <img src="~/Images/product6.jpg" alt="card 6"/>
                <h3>Кулоны</h3>
                <p>Кулон — это украшение, которое обычно подвешивается на цепочку, шнурок или кожаный ремешок и носится на шее. Это универсальное украшение, которое может быть как сдержанным, так и ярким акцентом в образе. Кулоны могут иметь разнообразные формы, материалы и символику, что делает их отличным выбором для создания индивидуального стиля и выражения личности.</p>
            </div>
        </div>
        <div class="arrow right">&#10095</div>
    </div>
</div>