@{
    ViewData["Title"] = "Главная";
}

<div class="container-section">
    <h2 class="info-sections">Главная</h2>
    <p class="text">
        В этом разделе вы сможете ознакомиться с актуальными новостями и последними тенденциями в мире ювелирных украшений, а также узнать о самых значимых событиях и инновациях в этой отрасли.
    </p>
    <p class="gallery">
        <img src="~/Images/jewelry2.png" alt="Фотография 1" width="120" height="120">
        <img src="~/Images/jewelry2.png" alt="Фотография 2" width="120" height="120">
        <img src="~/Images/jewelry2.png" alt="Фотография 3" width="120" height="120">
        <img src="~/Images/jewelry2.png" alt="Фотография 4" width="120" height="120"> 
    </p>
</div>

