@{
ViewData["Title"] = "Главная";
}

<div class="container-section">
    <h2 class="info-sections">Главная</h2>
    <p class="text">
        В этом разделе вы сможете ознакомиться с актуальными новостями и последними тенденциями в мире ювелирных украшений, а также узнать о самых значимых событиях и инновациях в этой отрасли.
    </p>
    
    <div class="container">
        <div class="item">
            <img src="~/Images/new1.jpg" alt="Золото, бриллианты" class="item-image">
            <div class="text">
                <h3>Золото, бриллианты: как развивается мужская ювелирная мода</h3>
                <p>Выбрать подарок для мужчины не так-то просто. Но если вы захотите удивить своего избранника, эксперты советуют подумать об ювелирных украшениях, тем более что мужская мода в этом направлении развивается также активно, как и женская.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="item reverse">
            <img src="~/Images/new2.jpg" alt="Новая ИИ-платформа Arcade" class="item-image">
            <div class="text">
                <h3>Новая ИИ-платформа Arcade начала делать ювелирные украшения по запросу</h3>
                <p>Мариам Нафиси, основательница розничной косметической сети Eve и дизайнерского маркета Minted, поддерживает независимых художников и помогает им продавать свои товары. Сейчас предпринимательница открыла Arcade AI, которая представляет собой новый тип торговой площадки.</p>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="item">
            <img src="~/Images/new3.jpg" alt="В Вологде начали выращивать розовые бриллианты" class="item-image">
            <div class="text">
                <h3>В Вологде начали выращивать розовые бриллианты</h3>
                <p>Соучредитель предприятия «Инвестстрой» Вячеслав Кремлев сооб­щил, что в на­сто­я­щее вре­мя пе­р­вая пар­тия про­хо­дит сер­ти­фи­ка­цию. Об этом он на­пи­сал на сво­ей стра­ни­це в со­ци­аль­ных се­тях
                    Он от­ме­тил, что про­из­во­дить та­кие бри­л­ли­ан­ты сло­ж­но, для это­го не­об­хо­ди­мо спе­ци­аль­ное обо­ру­до­ва­ние.

                    Пред­по­ла­га­ет­ся, что бри­л­ли­ан­ты, ко­то­рые бы­ли вы­ра­ще­ны в ла­бо­ра­то­рии, мо­ж­но бу­дет уже вско­ре ку­пить.</p>
            </div>
        </div>

    </div>
</div>


